{
  "trailingComma": "es5",
  "tabWidth": 4,
  "semi": true,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./css/app.css"
}